<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TemporaryPath" value="D:\AppTesting\Generic\GGImageCrop\Temp"/>
    <add key="Endpoint" value="https://ml-service.innodata.com/GOLDG/collectimages"/>
    <add key="LogPath" value="D:\AppTesting\Generic\GGImageCrop\Log"/>
  </appSettings>
</configuration>