<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Input Path" value="D:\TODO\TPCCR\Input"/>
    <add key ="Log Path" value="D:\TODO\TPCCR\Input"/>

    <add key ="For XMIT Path" value="D:\TODO\TPCCR\Input"/>
    <add key ="With Error Path" value="D:\TODO\TPCCR\Input"/>

    <!--<add key ="DTD File Path" value="C:\Users\xwk\Desktop\TODO\THUCL\source code\bin\Debug\schemas\mex\"/>
    <add key ="DTD File" value="C:\Users\xwk\Desktop\TODO\THUCL\source code\bin\Debug\schemas\mex\judicial.artifact.xsd"/>
	-->
	<add key ="DTD File Path" value="C:\xampp\tpccr\xmlparser\parser\carswell-for-supplier.dtd"/>
    <add key ="DTD File" value="C:\xampp\tpccr\xmlparser\parser\carswell-for-supplier.dtd\schemas\mex\judicial.artifact.xsd"/>

    <add key ="JaXML File Extension" value =".pdf.response_ja.xml"/>
    <add key ="Metadata File Extension" value =".pdf.response.metadata.xml"/>
    
    <add key ="Input File Extension" value=".xml"/>
    <add key ="Target Namespace" value="http://www.thomsonreuters.com/legal/judicialdocs"/>

    <add key ="Move Files" value ="true"/> <!-- No Error: For XMIT Path; With Error: With Error Path-->
    <add key ="Create Date Folder" value ="true"/> <!-- Format: MM-dd-yyyy -->
    <add key ="Generate JSON File" value ="false"/>

    <add key ="AutoEmail" value ="false"/>
    <add key ="ExchangeServer" value ="sgpdns01.innodata-isogen.com"/>
    <add key ="ExchangeServerPort" value ="587"/>
    <add key ="ExchangeEmailSender" value ="THUCL-NiFi@no-reply.innodata.com"/>
    <add key ="EmailSubject" value ="[THUCL] XML Parsing: Jobs/Files with error encountered"/>
    <add key ="EmailRecipient_TO" value ="RBuscabus@innodata.com"/>
    <add key ="EmailRecipient_CC" value ="AContreras@innodata.com;Exgodinez@innodata.com"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>